{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Log In" %} | RunnersHive {% endblock title %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center mb-4" style="min-height: 80vh;">
  <div class="col-md-6 col-lg-5">
    <div class="card shadow-lg border-0 rounded-3">
      <div class="card-body p-4 p-md-5">
        
        <!-- Title -->
        <!-- <h2 class="text-center mb-4">{% trans "Log In" %}</h2> -->
        <h4 class="text-center mb-4">
          Log in to your account to manage your own events!
        </h4>

        <!-- Signup link -->
        <p class="text-center text-muted mb-4">
          {% blocktrans %}If you don’t have an account yet, please 
          <a href="{{ signup_url }}" class="fw-semibold link">sign up</a> first.{% endblocktrans %}
        </p>

        <!-- Login form -->
        <form method="POST" action="{% url 'account_login' %}" novalidate>
          {% csrf_token %}
          <div class="mb-3">
            {{ form|crispy }}
          </div>

          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
          {% endif %}

          <!-- <div class="d-flex justify-content-between align-items-center mb-3">
            <a href="{% url 'account_reset_password' %}" class="small">{% trans "Forgot Password?" %}</a>
          </div> -->

          <div class="d-grid">
            <button class="btn btn-signup btn-lg" type="submit">
              {% trans "Log In" %}
            </button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
{% endblock content %}
